﻿#navigation
{
    text-align:center;
    margin-top: 0px;
    position: fixed;
    z-index: 1;
    height:40px;
    width: 81%;
    margin-left:9%;
    background-color: #38a10d;
    }

.LinkButton
 {
    text-decoration:none;
}
.navButton 
{
    padding-top:10px;
    background-color: #38a10d;
    border:none;
    text-decoration:none;
    font-size: 14px;
    color:white;
    font-family:Century;
}

.CenterDivStyle
{
    margin-left:auto;
    margin-right:auto;
}

.FiedSetStyle
{
    background:#808080;
    margin-left:auto;
    margin-right:auto;
    padding-top:100px;
    width:80%;
}

.LegendStyle
{
    font: bold 30px arial;
    font-family:Century;
    color: #ffffff;
    background-color: #38a10d;
}

.TableStyle
{
    margin-left:auto;
    margin-right:auto;
    background:#98dc93;
    margin-top:10px;
    margin-bottom:10px;
    width:800px;
    border:1px solid black;
}

.TdTextBoxStyle {
    width:300px;
    margin-top:10px;
    margin-bottom:10px;
    font: bold 16px arial;
    font-family:Century;
}

.TdLabelStyle { 
    width: 150px;
    margin-left:150px;
    display:inline-block;
    margin-top:10px;
    margin-bottom:10px;
    font: bold 16px arial;
    font-family:Century;
}

.DDLStyle 
{
    width:303px;
    margin-top:10px;
    margin-bottom:10px;
    font: bold 16px arial;
    font-family:Century;
}

.TableButtonStyle 
{
    width:80px;
    height:35px;
    margin-left:526px;
    font: bold 18px arial;
    font-family:Century;
    border:double groove;
}

.GridTotalStyle
{
    margin-left:585px;
    font: bold 18px arial;
    font-family:Century;
}

.TextStyle 
{
    font: bold 14px arial;
    font-family:Century;
}

.OperationMessage 
{
    font: bold 16px arial;
    font-family:Century;
    color:green;
    margin-left:310px;
}